# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
target

frontend/src/api/*.ts
frontend/src/api/models
frontend/src/api/docs/
frontend/src/api/.openapi-generator/
frontend/src/api/.gitignore
frontend/src/api/.npmignore
frontend/src/api/.openapi-generator-ignore
frontend/src/api/*.sh
frontend/!src/api/openapi.yaml
